/* Header Styles */
.header {
  background-color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  width: 100%; /* Add this to ensure full width */
}

/* Add a CSS class for the logo */
.logo {
  /* Position the logo in the left corner */
  margin-right: auto;
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.header h1 {
  color: #cfae73;
  font-size: 1.5rem;
  margin: 0;
  flex-grow: 1; /* Allow the h1 to take available space and center-align it */
}

.link-card {
  margin: 6px; /* Add space around the link-card */
  padding: 10px;
  cursor: pointer;
  font-size: smaller; /* Adjust the font size to match the card elements */
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 1);
  border: 1px solid rgba(var(--card-rgb), 1);
  transition: background 200ms, border 200ms;
}

.link-card:hover {
  background: rgba(var(--light-card-rgb), 1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.link-card:hover span {
  transform: translateX(4px);
}

/* Container Styles */
.container {
  display: flex;
  margin: 16px; /* Add space around the container */
  justify-content: space-between; /* Spread elements apart horizontally */
}

/* Left Half Styles */
.left-half {
  flex: 1;
  padding: 1rem;
  background-color: #f0f0f0;
}

.left-half h2 {
  font-size: 1rem; /* Adjust the font size for better readability */
  margin-bottom: 10px; /* Increase spacing between elements */
}

.left-half li {
  margin-bottom: 10px; /* Increase spacing between list items */
}

/* Right Half Styles */
.right-half {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
}

.right-half .links {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.right-half .links a {
  margin-bottom: 10px; /* Add space between the buttons */
}

/* Google Maps Container Styles */
.map-container {
  height: 500px; /* Adjust the height for better mobile display */
  border-radius: 4px;
}


/* Narrow Screen Styles */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack header elements vertically */
    align-items: flex-start; /* Align header items to the left */
  }

  .header h1 {
    font-size: 1.2rem; /* Adjust the font size for smaller screens */
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column; /* Stack container elements vertically */
  }

  .left-half, .right-half {
    flex: auto; /* Take up the available space equally */
    padding: 0.5rem; /* Reduce padding for smaller screens */
  }

  .right-half .map-container {
    height: 300px; /* Let the map container adjust its height */
  }

  .right-half .map-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Keep the image scale and fit within the container */
  }

  .right-half .links {
    display: flex;
    flex-direction: column; /* Stack link cards vertically */
    align-items: center; /* Center link cards horizontally within the right container */
  }

  .right-half .link-card {
    width: 100%; /* Make link card elements take full width within the right container */
    text-align: center; /* Center text on smaller screens */
    font-size: 1rem; /* Adjust font size for link cards */
  }
}
