/* styles.css */

/* Header Styles */
.header {
  background-color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread elements apart horizontally */
  margin: 0 auto;
  text-align: center; /* Center text on smaller screens */
}

.header h1 {
  color: #cfae73;
  font-size: 1.5rem; /* Adjust the font size for smaller screens */
}

.card {
  margin-left: 16px;
  padding: 10px;
  cursor: pointer;
  font-size: medium;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 1);
  border: 1px solid rgba(var(--card-rgb), 1);
  transition: background 200ms, border 200ms;
}

.card:hover {
  background: rgba(var(--light-card-rgb), 1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card:hover span {
  transform: translateX(4px);
}

/* Container Styles */
.container {
  display: flex;
  margin: 16px; /* Add space around the container */
  justify-content: space-between; /* Spread elements apart horizontally */
}

/* Left Half Styles */
.left-half {
  flex: 1;
  padding: 1rem;
  background-color: #f0f0f0;
}

.left-half h2 {
  font-size: 1rem; /* Adjust the font size for better readability */
  margin-bottom: 10px; /* Increase spacing between elements */
}

.left-half li {
  margin-bottom: 10px; /* Increase spacing between list items */
}

/* Right Half Styles */
.right-half {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
}

.right-half .links {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.right-half .links a {
  margin-bottom: 10px; /* Add space between the buttons */
}

/* Google Maps Container Styles */
.map-container {
  height: 300px; /* Adjust the height for better mobile display */
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Media Query for iPhone and Small Screens */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack children vertically on small screens */
  }

  .header h1 {
    font-size: 1.2rem; /* Adjust the font size for smaller screens */
  }

  .left-half,
  .right-half {
    flex: auto; /* Make both left and right halves take full width on small screens */
    margin: 8px; /* Add space around the left and right halves on smaller screens */
  }

  .left-half h2 {
    font-size: 1.1rem; /* Adjust the font size for smaller screens */
  }
}
