/* styles.css */

/* Header Styles */
.header {
  background-color: #333;
  padding: 1rem;
  display: flex; /* Center header content vertically */
  align-items: center; /* Center header content vertically */
  margin: 0 auto;
}

.header h1 {
  color: #cfae73;
}

.header .links {
  margin-left: auto;
}


.card {
  margin: 16px auto;
  padding: 10px;
  cursor: pointer;
  font-size: medium;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 1);
  border: 1px solid rgba(var(--card-rgb), 1);
  transition: background 200ms, border 200ms;
  max-width: 100%; /* Ensure the card doesn't overflow on small screens */
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--light-card-rgb), 1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Container Styles */
.container {
  display: flex;
}

/* Left Half Styles */
.left-half {
  flex: 1;
  padding: 1rem;
  background-color: #f0f0f0;
}

.left-half h2 {
  padding-bottom: 20px; /* Adjust the value to control the spacing */
}

.left-half li {
  margin-bottom: 20px; /* Adjust the value to control the spacing */
}

/* Right Half Styles */
.right-half {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
}

/* Google Maps Container Styles */
.map-container {
  height: 300px; /* Adjust the height for better mobile display */
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Media Query for iPhone and Small Screens */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack children vertically on small screens */
  }

  .left-half,
  .right-half {
    flex: auto; /* Make both left and right halves take full width on small screens */
  }
  
  .map-container {
    height: 200px; /* Adjust the height for small screens */
  }
}
